<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Nepal Year in Progress</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   
</head>
<body>
    <section class="hero is-info">
        <div class="hero-body">
          <p class="title">
            Nepal Year in Progress 
          </p>
          <p class="subtitle">
                An initiative by Moonlit Solutions
          </p>
        </div>
      </section>
    
            <section class="section">
                <div class="container">
                  <div class="columns is-centered">
                    <div class="column is-half">
                      <figure>
                        <a class="twitter-timeline" data-width="400" data-height="600" data-theme="light" href="https://twitter.com/yearprogressBS?ref_src=twsrc%5Etfw">Tweets by yearprogressBS</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <!-- <a href="https://twitter.com/yearprogressBS?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @yearprogressBS</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                      </figure>
                    </div>
                  </div>
                </div>
              </section>


              <footer class="footer">
                <div class="content has-text-centered">
                  <p>
                    <strong>Nepal Year in Progress</strong> by <a href="https://www.moonlit.solutions/">Moonlit Solutions</a>.
                  </p>
                </div>
              </footer>
           


</body>
</html>


